body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: bisque;
  }
  
  header {
    background-color: #582a04;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
  }
  
  form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  